{{ define "partials/nav.partial.html" }}

<section class="mx-auto max-w-7xl">
    <nav class="flex justify-between py-6 items-center">
        <div class="flex items-center space-x-3">
            <a href="/">
                <img src="/img/logo-alquilafacil.png" alt="AlquilaFácil" class="object-contain h-11">
            </a>
            <p class="font-semibold text-xl">
                AlquilaFácil
            </p>
        </div>
        <div class="text-xl items-center space-x-12">
            <a>
                Lugares
            </a>
            <a>
                Pública
            </a>
            <a>
                Variedad
            </a>
            <a>
                Premiun
            </a>
        </div>
        <div class="items-center space-x-3">
            <button class="border-2 border-red-600 text-red-600 rounded-md px-3 py-1">
                Inicia Sesión
            </button>
            <button class="border-2 border-red-600 bg-red-600 text-white rounded-md px-3 py-1">
                Registrate
            </button>
        </div>
    </nav>

    <div class="flex mx-auto max-w-7xl text-center justify-center"> 
        <div class="flex rounded-3xl border-2 border-red-600 p-2">
            <div class="items-center text-center">
                <input type="text" class="" placeholder="Buscar">
                <button class="bg-red-600 p-2 rounded-3xl">
                    <img src="/img/icon-lupa.png" alt="Buscar" class="h-4">
                </button>
            </div>
        </div>
    </div>

</section>

{{ end }}